
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_genral_pages.cshtml";
}

<div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="log-in-box">
            <div class="log-in-title">
                
                
            </div>

            <div class="input-box">
                <form class="row g-4">
                    <div class="col-12">
                        <div class="form-floating theme-form-floating log-in-form my-2">
                            <input type="email" class="form-control" id="email"
                                   placeholder="Enter your UserId">
                            <label for="email">New Password</label>
                        </div>
                        <div class="form-floating theme-form-floating log-in-form">
                            <input type="email" class="form-control" id="email"
                                   placeholder="Enter your UserId">
                            <label for="email">Confirm Password</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-animation w-100" type="submit">
                            Change Password
                        </button>
                    </div>
                    
                    
                </form>
            </div>
        </div>
    </div>
</div>
