
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_genral_pages.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function() {
        $("#otp").hide();
        $("#otpbtnc").hide();
        $("#otpbtn").click(function () {
            var email = $("#email").val();
            $.ajax({
                url: '/home/sendotp',
                type: 'POST',
                data: { 'email': email },
                success: function (res) {
                    if (res == true) {
                        alert("Email Sent. Kindly check your registered email id");
                        $("#email").prop("readonly", "readonly");
                        $("#otpbtn").prop("disabled", "disabled");
                        $("#otp").show();
                        $("#otpbtnc").show();
                    }
                    else {
                        alert(res);
                    }
                }
            })
        })
    })

</script>
<!-- log in section start -->
<section class="log-in-section section-b-space forgot-section">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="/Content/images/inner-page/forgot.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>Welcome To Fastkart</h3>
                            <h4>Forgot your password</h4>
                        </div>

                        <div class="input-box">
                            <form class="row g-4">
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input type="email" class="form-control" id="email" placeholder="Enter your UserId" name="user_id">
                                        <label for="email">Email Address</label>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <input type="button" value="Send OTP" class="btn btn-animation form-control" id="otpbtn"/>
                                </div>
                                <div style="margin-left:20px;" class="col-sm-12" id="otp">
                                    <input type="text" style="width:50px;height:50px" maxlength="1"/>
                                    <input type="text" style="width: 50px; height: 50px" maxlength="1"/>
                                    <input type="text" style="width: 50px; height: 50px" maxlength="1"/>
                                    <input type="text" style="width: 50px; height: 50px" maxlength="1"/>
                                    <input type="text" style="width: 50px; height: 50px" maxlength="1"/>
                                    <input type="text" style="width: 50px; height: 50px" maxlength="1"/>
                                </div>
                                <div class="col-sm-12">
                                    <button class="btn btn-animation w-100" type="button" id="otpbtnc">
                                        <a href="/home/changepassword" class="text-light">Change Password</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- log in section end -->
